#slider{
	width: 100%; 
	position: relative;
	
	overflow:hidden; 
}
#slider .wrapper {

    display: block; 
    width: 700px;
    height: 400px; 
    margin: 0; 
    padding: 0;
    overflow:hidden; 
}

#slider  .wrapper > ul{
    position: relative; 
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
    
}
#slider .wrapper > ul> li{
    float:left; 
    width: 400px;
    height: 650px; 
}